name = "Regex"
testDriver = "test"
lintDriver = "batteries/runLinter"
defaultTargets = ["inspect", "benchmark"]

[[require]]
name = "UnicodeBasic"
git = "https://github.com/fgdorais/lean4-unicode-basic"
rev = "v1.3.1"

[[require]]
name = "batteries"
git = "https://github.com/leanprover-community/batteries"
rev = "v4.28.0"

[[require]]
name = "Parser"
git = "https://github.com/fgdorais/lean4-parser"
rev = "main"

[[lean_lib]]
name = "Regex"
buildType = "debug"

[[lean_lib]]
name = "Test"
srcDir = "test"
roots = ["Test", "RegexTest", "TomlLoader", "PcreLoader"]

[[lean_exe]]
name = "inspect"
root = "Main"
buildType = "debug"

[[lean_exe]]
name = "benchmark"
root = "Benchmark"
buildType = "debug"

[[lean_exe]]
name = "test"
srcDir = "test"
root = "Test"
